body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:2570px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1450px;
  height:2570px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1277px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:103px;
  width:279px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:1094px;
  width:309px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:2098px;
  width:297px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:113px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
