body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:2560px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1272px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:166px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2404px;
  width:1440px;
  height:166px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:82px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2404px;
  width:1440px;
  height:1px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:127px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:2423px;
  width:127px;
  height:127px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:2410px;
  width:120px;
  height:120px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2420px;
  width:100px;
  height:100px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:2425px;
  width:90px;
  height:90px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:2425px;
  width:90px;
  height:90px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#2C2C2C;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#2C2C2C;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:2522px;
  width:31px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1103px;
  width:1px;
  height:16px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
