body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1445px;
  height:2565px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1445px;
  height:2565px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1274px;
  width:1441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:2416px;
  width:455px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
