body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:2570px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1450px;
  height:2570px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1277px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:108px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:108px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
