body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:2560px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1272px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:82px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2404px;
  width:1440px;
  height:1px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1103px;
  width:1px;
  height:16px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:92px;
  width:1438px;
  height:150px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:355px;
  height:10px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:237px;
  width:350px;
  height:5px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:141px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:141px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:141px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:141px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:1620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:282px;
  width:1438px;
  height:1620px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:802px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:309px;
  width:130px;
  height:130px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:308px;
  width:337px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:316px;
  width:367px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:1439px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:464px;
  width:1438px;
  height:1438px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:711px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:393px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:412px;
  width:10px;
  height:10px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:394px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:526px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1942px;
  width:1438px;
  height:526px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:255px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1967px;
  width:130px;
  height:130px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1966px;
  width:337px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:1974px;
  width:367px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:449px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:2122px;
  width:1438px;
  height:448px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:2051px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:2070px;
  width:10px;
  height:10px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:2052px;
  width:132px;
  height:46px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:166px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2404px;
  width:1440px;
  height:166px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:127px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:2423px;
  width:127px;
  height:127px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:2410px;
  width:120px;
  height:120px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2420px;
  width:100px;
  height:100px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:2425px;
  width:90px;
  height:90px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:2425px;
  width:90px;
  height:90px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:2522px;
  width:61px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:2522px;
  width:31px;
  height:39px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:30px;
  color:#999999;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
