body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:2570px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1450px;
  height:2570px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1277px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:2401px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:2402px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:2400px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:2401px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:2399px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:112px;
  width:252px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:112px;
  width:249px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:112px;
  width:306px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:112px;
  width:308px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1603px;
  width:316px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1585px;
  width:218px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1591px;
  width:155px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1924px;
  width:372px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
