body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:2570px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1450px;
  height:2570px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1277px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:2401px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:2402px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:2400px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u181 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2401px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:2399px;
  width:246px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u183 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:579px;
  width:1394px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
